<div class="row">
  <div class="col-8 offset-2">
    <h2>Ajouter un livre</h2>
    <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" name="titre" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="author">Auteur</label>
        <input type="text" class="form-control" name="auteur" id="author" formControlName="author">
      </div>
      <div class="form-group">
        <h4>Ajouter une photo</h4>
        <label class="label-photo" for="photo">Upload</label>
        <input type="file" name="photo" class="form-control" id="photo" (change)="detectFiles($event)" accept="image/*">
        <p class="text-success" *ngIf="fileUploaded">Fichier upload avec succès</p>
      </div>
      <button class="btn btn-success" [disabled]="bookForm.invalid || fileIsUploading" type="submit">Ajouter</button>
    </form>
  </div>
</div>