<div class="row">
  <div class="col-12">
    <h2 class="mb-4">Vos livres</h2>
    <div class="list-group">
      <button class="list-group-item" *ngFor="let book of books; let i = index" (click)="onViewBook(i)">
        <h3 class="mb-1">
          {{ book.title }}
          <button class="btn btn-outline-dark ml-auto" (click)="onDeleteBook(book)">
            X
          </button>
        </h3>
        <p>{{ book.author }}</p>
      </button>
    </div>
    <button class="btn btn-primary my-3" (click)="onNewBook()">Nouveau livre</button>
  </div>
</div>